<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoGame.Framework.WindowsDX" version="3.7.1.189" targetFramework="net472" />
  <package id="SharpDX" version="4.0.1" targetFramework="net472" />
  <package id="SharpDX.Direct2D1" version="4.0.1" targetFramework="net472" />
  <package id="SharpDX.Direct3D11" version="4.0.1" targetFramework="net472" />
  <package id="SharpDX.Direct3D9" version="4.0.1" targetFramework="net472" />
  <package id="SharpDX.DXGI" version="4.0.1" targetFramework="net472" />
  <package id="SharpDX.Mathematics" version="4.0.1" targetFramework="net472" />
  <package id="SharpDX.MediaFoundation" version="4.0.1" targetFramework="net472" />
  <package id="SharpDX.XAudio2" version="4.0.1" targetFramework="net472" />
  <package id="SharpDX.XInput" version="4.0.1" targetFramework="net472" />
</packages>