[submodule "ThirdParty/Libs"]
	path = ThirdParty/Libs
	url = https://github.com/kungfubanana/MonoGame-Dependencies.git
[submodule "Tests"]
	path = Tests
	url = https://github.com/kungfubanana/MonoGame-Tests.git
[submodule "Samples"]
	path = Samples
	url = https://github.com/CartBlanche/MonoGame-Samples.git
[submodule "StarterKits"]
	path = StarterKits
	url = https://github.com/kungfubanana/MonoGame-StarterKits.git
[submodule "ThirdParty/Kickstart"]
	path = ThirdParty/Kickstart
	url = https://github.com/OutOfOrder/MonoKickstart.git
