#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.pidb
*.userprefs
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Subversion files
.svn

# Office Temp Files
~$*

#monodroid private beta
monodroid*.msi

#Unix temporary files
*~

# Generated Project files
# These should be changed to just *.csproj and *.sln when
# all projects have been converted over.
MonoGame.Framework.Android.csproj
MonoGame.Framework.Android.sln
MonoGame.Framework.iOS.csproj
MonoGame.Framework.iOS.sln
MonoGame.Framework.Linux.csproj
MonoGame.Framework.Linux.sln
MonoGame.Framework.MacOS.csproj
MonoGame.Framework.MacOS.sln
MonoGame.Framework.Ouya.csproj
MonoGame.Framework.Ouya.sln
MonoGame.Framework.PSMobile.csproj
MonoGame.Framework.PSMobile.sln
MonoGame.Framework.Windows.csproj
MonoGame.Framework.Windows.sln
MonoGame.Framework.Windows8.csproj
MonoGame.Framework.Windows8.sln
MonoGame.Framework.WindowsGL.csproj
MonoGame.Framework.WindowsGL.sln
MonoGame.Framework.WindowsPhone.csproj
MonoGame.Framework.WindowsPhone.sln

