<configuration>
	<dllmap dll="libmojoshader.dll" os="linux" cpu="x86" target="libmojoshader_32.so" />
	<dllmap dll="libmojoshader.dll" os="linux" cpu="x86-64,ia64" target="libmojoshader_64.so" />
	<dllmap dll="libglsl_optimizer.dll" os="linux" cpu="x86" target="libglsl_optimizer_32.so" />
	<dllmap dll="libglsl_optimizer.dll" os="linux" cpu="x86-64,ia64" target="libglsl_optimizer_64.so" />
</configuration>
