<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="___SafeGameName___.Android" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="34" />
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	<application android:label="___SafeGameName___"></application>
</manifest>
