<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>	
	<key>LSEnvironment</key>
    	<dict>
        	<key>MONO_MANAGED_WATCHER</key>
        	<string>false</string>
    	</dict>
	<key>CFBundleName</key>
	<string>Pipeline.MacOS</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>CFBundleDisplayName</key>
	<string>MonoGame Content Pipeline Tool</string>
	<key>CFBundleIdentifier</key>
	<string>com.monogame.pipeline</string>
	<key>CFBundleShortVersionString</key>
	<string>3.3</string>
	<key>CFBundleIconFile</key>
	<string>App</string>
</dict>
</plist>
