<?xml version="1.0"?>
<!--
	MonoGame - Copyright (C) The MonoGame Team
	This file is subject to the terms and conditions defined in
	file 'LICENSE.txt', which is part of this source code package.
-->
<config xmlns="SharpDoc">

  <title>MonoGame Documentation</title>
  <style>MonoGame</style>

  <output-dir>Output</output-dir>
  
  <!-- Topics -->
  <topic id="welcome.md" page-id="main" name="MonoGame Documentation" filename="welcome.md">

    <topic id="getting_started.md" name="Getting Started" filename="getting_started.md"/>
    <topic id="tutorials.md" name="Tutorials" filename="tutorials.md"/>
    <topic id="links.md" name="External Links" filename="links.md"/>

    <!-- Special topic X:ClassLibrary to include generated class library references. No filename to setup as it is generated -->
    <topic id="X:ClassLibraryReference" page-id="api" name="Class Library Reference" index="100" on-url="true"/>

  </topic>
  
  <!-- List the assemblies to include for the class library-->
  
  <!-- Windows Desktop -->
  <source	api="default|Windows DirectX Desktop" 
			xml="..\MonoGame.Framework\bin\Windows\AnyCPU\Release\MonoGame.Framework.xml"
			>..\MonoGame.Framework\bin\Windows\AnyCPU\Release\MonoGame.Framework.dll</source>
  <source	api="default|Windows DirectX Desktop" 
			xml="..\MonoGame.Framework.Content.Pipeline\bin\Windows\AnyCPU\Release\MonoGame.Framework.Content.Pipeline.xml"
			>..\MonoGame.Framework.Content.Pipeline\bin\Windows\AnyCPU\Release\MonoGame.Framework.Content.Pipeline.dll</source>

  <!-- Linux Desktop -->
  <source	api="linux|Linux Desktop" 
			xml="..\MonoGame.Framework\bin\Linux\AnyCPU\Release\MonoGame.Framework.xml"
			>..\MonoGame.Framework\bin\Linux\AnyCPU\Release\MonoGame.Framework.dll</source>
  <source	api="linux|Linux Desktop" 
			xml="..\MonoGame.Framework.Content.Pipeline\bin\Linux\AnyCPU\Release\MonoGame.Framework.Content.Pipeline.xml"
			>..\MonoGame.Framework.Content.Pipeline\bin\Linux\AnyCPU\Release\MonoGame.Framework.Content.Pipeline.dll</source>
  
  <!-- MacOS Desktop -->
  <!--
  <source	api="macos|MacOS Desktop" 
			xml="..\MonoGame.Framework\bin\MacOS\AnyCPU\Release\MonoGame.Framework.xml"
			>..\MonoGame.Framework\bin\MacOS\AnyCPU\Release\MonoGame.Framework.dll</source>
  <source	api="macos|MacOS Desktop" 
			xml="..\MonoGame.Framework.Content.Pipeline\bin\MacOS\AnyCPU\Release\MonoGame.Framework.Content.Pipeline.xml"
			>..\MonoGame.Framework.Content.Pipeline\bin\MacOS\AnyCPU\Release\MonoGame.Framework.Content.Pipeline.dll</source>
  -->

  <!-- WindowsGL Desktop -->
  <source	api="wingl|Windows OpenGL Desktop" 
			xml="..\MonoGame.Framework\bin\WindowsGL\AnyCPU\Release\MonoGame.Framework.xml"
			>..\MonoGame.Framework\bin\WindowsGL\AnyCPU\Release\MonoGame.Framework.dll</source>

  <!-- Windows 8 Store -->
  <source	api="win8metro|Windows 8 Store" 
			xml="..\MonoGame.Framework\bin\WindowsGL\AnyCPU\Release\MonoGame.Framework.xml"
			>..\MonoGame.Framework\bin\WindowsGL\AnyCPU\Release\MonoGame.Framework.dll</source>

  <!-- Windows Phone 8 -->
  <source	api="wp8|Windows Phone 8" 
			xml="..\MonoGame.Framework\bin\WindowsPhone\x86\Release\MonoGame.Framework.xml"
			>..\MonoGame.Framework\bin\WindowsPhone\x86\Release\MonoGame.Framework.dll</source>

  <!-- Web -->
  <source	api="web|Web" 
			xml="..\MonoGame.Framework\bin\Web\AnyCPU\Release\MonoGame.Framework.xml"
			>..\MonoGame.Framework\bin\Web\AnyCPU\Release\MonoGame.Framework.dll</source>

  <!-- iOS -->
  <!--
  <source	api="ios|iOS" 
			xml="..\MonoGame.Framework\bin\iOS\iPhoneSimulator\Release\MonoGame.Framework.xml"
			>..\MonoGame.Framework\bin\iOS\iPhoneSimulator\Release\MonoGame.Framework.dll</source>
  -->

  <!-- Android -->
  <!--
  <source	api="android|Android" 
			xml="..\MonoGame.Framework\bin\Android\AnyCPU\Release\MonoGame.Framework.xml"
			>..\MonoGame.Framework\bin\Android\AnyCPU\Release\MonoGame.Framework.dll</source>
  -->

  <!-- Ouya -->
  <!--
  <source	api="ouya|OUYA" 
			xml="..\MonoGame.Framework\bin\Ouya\AnyCPU\Release\MonoGame.Framework.xml"
			>..\MonoGame.Framework\bin\Ouya\AnyCPU\Release\MonoGame.Framework.dll</source>
  -->

  <!-- PSMobile -->
  <source	api="psm|PlayStation Mobile" 
			xml="..\MonoGame.Framework\bin\PSMobile\AnyCPU\Release\MonoGame.Framework.xml"
			>..\MonoGame.Framework\bin\PSMobile\AnyCPU\Release\MonoGame.Framework.dll</source>

 </config>
