<?xml version="1.0"?>
<!--
    MonoGame - Copyright (C) The MonoGame Team
    This file is subject to the terms and conditions defined in
    file 'LICENSE.txt', which is part of this source code package.
-->
<config xmlns="SharpDoc">

  <title>MonoGame Documentation</title>
  <style>MonoGame</style>

  <output-dir>Output</output-dir>
  
  <!-- Topics -->
  <topic id="Welcome" page-id="main" name="MonoGame Documentation" filename="welcome.md">

    <!-- Copy our images to the html/images folder -->
    <resource>images</resource>
    
    <topic id="Introduction" name="Introduction" filename="introduction.md">
        <topic id="What_is_MonoGame" name="What is MonoGame" filename="what_is_monogame.md"/>
        <topic id="System_Requirements" name="System Requirements" filename="system_requirements.md"/>
        <topic id="Setting_Up_MonoGame" name="Setting Up MonoGame" filename="setting_up_monogame.md">
            <topic id="Setting_Up_MonoGame_Mac" name="Mac" filename="setting_up_monogame_mac.md"/>
            <topic id="Setting_Up_MonoGame_Linux" name="Linux" filename="setting_up_monogame_linux.md"/>
            <topic id="Setting_Up_MonoGame_Source" name="From Source" filename="setting_up_monogame_source.md"/>
        </topic>
        <topic id="MonoGame_FAQ" name="MonoGame FAQ" filename="monogame_faq.md"/>
        <topic id="Help_and_Support" name="Help and Support" filename="help_and_support.md"/>
    </topic>
    <topic id="Getting_Started" name="Getting Started" filename="getting_started.md"/>
    <topic id="Tutorials" name="Tutorials" filename="tutorials.md"/>
    
    <topic id="Adding_Art_Sounds_and_More" name="Adding Art, Sounds, and More" filename="content_intro.md">
        <topic id="Using_The_Pipeline_Tool" name="Using The Pipeline Tool" filename="using_pipeline_tool.md"/>
        <topic id="Custom_Effects" name="Custom Effects" filename="custom_effects.md"/>
        <topic id="Using_TrueType_Fonts" name="Using TrueType Fonts" filename="adding_ttf_fonts.md"/>
    </topic>

    <topic id="Tools" name="Tools" filename="tools.md">
        <topic id="2MGFX" name="2MGFX" filename="2mgfx.md"/>
        <topic id="MGCB" name="MGCB" filename="mgcb.md"/>
        <topic id="Pipeline" name="Pipeline" filename="pipeline.md"/>
    </topic>
    
    <topic id="Platform_Specific_Notes" name="Platform-Specific Notes" filename="platform_specific.md">
        <topic id="Android" name="Android" filename="android.md"/>
        <topic id="tvOS" name="tvOS" filename="tvOS.md"/>
    </topic>
    
    <topic id="External_Links" name="External Links" filename="links.md"/>

    <!-- Special topic X:ClassLibrary to include generated class library references. No filename to setup as it is generated -->
    <topic id="X:ClassLibraryReference" page-id="api" name="Class Library Reference" index="100" on-url="true"/>

  </topic>
  
  <!-- List the assemblies to include for the class library-->
  
  <!-- Windows Desktop -->
  <group api="default|Windows DirectX Desktop">    
    <source>..\MonoGame.Framework\bin\Windows\AnyCPU\Release\MonoGame.Framework.dll</source>
    <source>..\MonoGame.Framework.Content.Pipeline\bin\Windows\AnyCPU\Release\MonoGame.Framework.Content.Pipeline.dll</source>
  </group>

  <!-- Linux Desktop -->
  <group api="linux|Linux Desktop">    
    <source>..\MonoGame.Framework\bin\Linux\AnyCPU\Release\MonoGame.Framework.dll</source>
    <source>..\MonoGame.Framework.Content.Pipeline\bin\Linux\AnyCPU\Release\MonoGame.Framework.Content.Pipeline.dll</source>
  </group>
  
  <!-- MacOS Desktop -->
  <!--
  <group api="macos|MacOS Desktop">    
    <source>..\MonoGame.Framework\bin\MacOS\AnyCPU\Release\MonoGame.Framework.dll</source>
    <source>..\MonoGame.Framework.Content.Pipeline\bin\MacOS\AnyCPU\Release\MonoGame.Framework.Content.Pipeline.dll</source>
  </group>
  -->

  <!-- WindowsGL Desktop -->
  <group api="wingl|Windows OpenGL Desktop">    
    <source>..\MonoGame.Framework\bin\WindowsGL\AnyCPU\Release\MonoGame.Framework.dll</source>
  </group>

  <!-- Windows 8 Store -->
  <group api="win8metro|Windows 8 Store">
    <searchdir>C:\Program Files (x86)\Windows Kits\8.0\References\CommonConfiguration\Neutral</searchdir>
    <source>..\MonoGame.Framework\bin\Windows8\AnyCPU\Release\MonoGame.Framework.dll</source>
  </group>

  <!-- Windows Phone 8 -->
  <group api="wp8|Windows Phone 8">    
    <source>..\MonoGame.Framework\bin\WindowsPhone\x86\Release\MonoGame.Framework.dll</source>
  </group>

  <!-- Web -->
  <group api="web|Web">    
    <source>..\MonoGame.Framework\bin\Web\AnyCPU\Release\MonoGame.Framework.dll</source>
  </group>

  <!-- iOS -->
  <!--
  <group api="ios|iOS">    
    <source>..\MonoGame.Framework\bin\iOS\iPhoneSimulator\Release\MonoGame.Framework.dll</source>
  </group>
  -->

  <!-- Android -->
  <!--
  <group api="android|Android">    
    <source>..\MonoGame.Framework\bin\Android\AnyCPU\Release\MonoGame.Framework.dll</source>
  </group>
  -->

  <!-- Ouya -->
  <!--
  <group api="ouya|OUYA">    
    <source>..\MonoGame.Framework\bin\Ouya\AnyCPU\Release\MonoGame.Framework.dll</source>
  </group>
  -->

</config>
